div{
    width: 800px;
    height: 100px;
    background-image: url(images/CSS.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}
#deneme{
    background-attachment: initial;
}
